
@font-face {
    font-family: "icons";
    src: url("./icons.eot?81eae4383e3730033a83990b1d3b3ed2?#iefix") format("embedded-opentype"),
    url("./icons.woff2?81eae4383e3730033a83990b1d3b3ed2") format("woff2"),
    url("./icons.woff?81eae4383e3730033a83990b1d3b3ed2") format("woff"),
    url("./icons.ttf?81eae4383e3730033a83990b1d3b3ed2") format("truetype"),
    url("./icons.svg?81eae4383e3730033a83990b1d3b3ed2#icons") format("svg");
}

i {
    line-height: 1;
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-address-book:before {
    content: "\f101";
}
.icon-address-card:before {
    content: "\f102";
}
.icon-adjust:before {
    content: "\f103";
}
.icon-align-center:before {
    content: "\f104";
}
.icon-align-justify:before {
    content: "\f105";
}
.icon-align-left:before {
    content: "\f106";
}
.icon-align-right:before {
    content: "\f107";
}
.icon-allergies:before {
    content: "\f108";
}
.icon-ambulance:before {
    content: "\f109";
}
.icon-american-sign-language-interpreting:before {
    content: "\f10a";
}
.icon-anchor:before {
    content: "\f10b";
}
.icon-angle-double-down:before {
    content: "\f10c";
}
.icon-angle-double-left:before {
    content: "\f10d";
}
.icon-angle-double-right:before {
    content: "\f10e";
}
.icon-angle-double-up:before {
    content: "\f10f";
}
.icon-angle-down:before {
    content: "\f110";
}
.icon-angle-left:before {
    content: "\f111";
}
.icon-angle-right:before {
    content: "\f112";
}
.icon-angle-up:before {
    content: "\f113";
}
.icon-angry:before {
    content: "\f114";
}
.icon-archive:before {
    content: "\f115";
}
.icon-archway:before {
    content: "\f116";
}
.icon-arrow-alt-circle-down:before {
    content: "\f117";
}
.icon-arrow-alt-circle-left:before {
    content: "\f118";
}
.icon-arrow-alt-circle-right:before {
    content: "\f119";
}
.icon-arrow-alt-circle-up:before {
    content: "\f11a";
}
.icon-arrow-circle-down:before {
    content: "\f11b";
}
.icon-arrow-circle-left:before {
    content: "\f11c";
}
.icon-arrow-circle-right:before {
    content: "\f11d";
}
.icon-arrow-circle-up:before {
    content: "\f11e";
}
.icon-arrow-down:before {
    content: "\f11f";
}
.icon-arrow-left:before {
    content: "\f120";
}
.icon-arrow-right:before {
    content: "\f121";
}
.icon-arrows-alt-h:before {
    content: "\f122";
}
.icon-arrows-alt:before {
    content: "\f123";
}
.icon-arrows-alt-v:before {
    content: "\f124";
}
.icon-arrow-up:before {
    content: "\f125";
}
.icon-assistive-listening-systems:before {
    content: "\f126";
}
.icon-asterisk:before {
    content: "\f127";
}
.icon-atlas:before {
    content: "\f128";
}
.icon-at:before {
    content: "\f129";
}
.icon-audio-description:before {
    content: "\f12a";
}
.icon-award:before {
    content: "\f12b";
}
.icon-backspace:before {
    content: "\f12c";
}
.icon-backward:before {
    content: "\f12d";
}
.icon-balance-scale:before {
    content: "\f12e";
}
.icon-band-aid:before {
    content: "\f12f";
}
.icon-ban:before {
    content: "\f130";
}
.icon-barcode:before {
    content: "\f131";
}
.icon-bars:before {
    content: "\f132";
}
.icon-baseball-ball:before {
    content: "\f133";
}
.icon-basketball-ball:before {
    content: "\f134";
}
.icon-bath:before {
    content: "\f135";
}
.icon-battery-empty:before {
    content: "\f136";
}
.icon-battery-full:before {
    content: "\f137";
}
.icon-battery-half:before {
    content: "\f138";
}
.icon-battery-quarter:before {
    content: "\f139";
}
.icon-battery-three-quarters:before {
    content: "\f13a";
}
.icon-bed:before {
    content: "\f13b";
}
.icon-beer:before {
    content: "\f13c";
}
.icon-bell-slash:before {
    content: "\f13d";
}
.icon-bell:before {
    content: "\f13e";
}
.icon-bezier-curve:before {
    content: "\f13f";
}
.icon-bicycle:before {
    content: "\f140";
}
.icon-binoculars:before {
    content: "\f141";
}
.icon-birthday-cake:before {
    content: "\f142";
}
.icon-blender:before {
    content: "\f143";
}
.icon-blind:before {
    content: "\f144";
}
.icon-bold:before {
    content: "\f145";
}
.icon-bolt:before {
    content: "\f146";
}
.icon-bomb:before {
    content: "\f147";
}
.icon-bong:before {
    content: "\f148";
}
.icon-bookmark:before {
    content: "\f149";
}
.icon-book-open:before {
    content: "\f14a";
}
.icon-book:before {
    content: "\f14b";
}
.icon-bowling-ball:before {
    content: "\f14c";
}
.icon-boxes:before {
    content: "\f14d";
}
.icon-box-open:before {
    content: "\f14e";
}
.icon-box:before {
    content: "\f14f";
}
.icon-braille:before {
    content: "\f150";
}
.icon-briefcase-medical:before {
    content: "\f151";
}
.icon-briefcase:before {
    content: "\f152";
}
.icon-broadcast-tower:before {
    content: "\f153";
}
.icon-broom:before {
    content: "\f154";
}
.icon-brush:before {
    content: "\f155";
}
.icon-bug:before {
    content: "\f156";
}
.icon-building:before {
    content: "\f157";
}
.icon-bullhorn:before {
    content: "\f158";
}
.icon-bullseye:before {
    content: "\f159";
}
.icon-burn:before {
    content: "\f15a";
}
.icon-bus-alt:before {
    content: "\f15b";
}
.icon-bus:before {
    content: "\f15c";
}
.icon-calculator:before {
    content: "\f15d";
}
.icon-calendar-alt:before {
    content: "\f15e";
}
.icon-calendar-check:before {
    content: "\f15f";
}
.icon-calendar-minus:before {
    content: "\f160";
}
.icon-calendar-plus:before {
    content: "\f161";
}
.icon-calendar:before {
    content: "\f162";
}
.icon-calendar-times:before {
    content: "\f163";
}
.icon-camera-retro:before {
    content: "\f164";
}
.icon-camera:before {
    content: "\f165";
}
.icon-cannabis:before {
    content: "\f166";
}
.icon-capsules:before {
    content: "\f167";
}
.icon-caret-down:before {
    content: "\f168";
}
.icon-caret-left:before {
    content: "\f169";
}
.icon-caret-right:before {
    content: "\f16a";
}
.icon-caret-square-down:before {
    content: "\f16b";
}
.icon-caret-square-left:before {
    content: "\f16c";
}
.icon-caret-square-right:before {
    content: "\f16d";
}
.icon-caret-square-up:before {
    content: "\f16e";
}
.icon-caret-up:before {
    content: "\f16f";
}
.icon-car:before {
    content: "\f170";
}
.icon-cart-arrow-down:before {
    content: "\f171";
}
.icon-cart-plus:before {
    content: "\f172";
}
.icon-certificate:before {
    content: "\f173";
}
.icon-chalkboard:before {
    content: "\f174";
}
.icon-chalkboard-teacher:before {
    content: "\f175";
}
.icon-chart-area:before {
    content: "\f176";
}
.icon-chart-bar:before {
    content: "\f177";
}
.icon-chart-line:before {
    content: "\f178";
}
.icon-chart-pie:before {
    content: "\f179";
}
.icon-check-circle:before {
    content: "\f17a";
}
.icon-check-double:before {
    content: "\f17b";
}
.icon-check-square:before {
    content: "\f17c";
}
.icon-check:before {
    content: "\f17d";
}
.icon-chess-bishop:before {
    content: "\f17e";
}
.icon-chess-board:before {
    content: "\f17f";
}
.icon-chess-king:before {
    content: "\f180";
}
.icon-chess-knight:before {
    content: "\f181";
}
.icon-chess-pawn:before {
    content: "\f182";
}
.icon-chess-queen:before {
    content: "\f183";
}
.icon-chess-rook:before {
    content: "\f184";
}
.icon-chess:before {
    content: "\f185";
}
.icon-chevron-circle-down:before {
    content: "\f186";
}
.icon-chevron-circle-left:before {
    content: "\f187";
}
.icon-chevron-circle-right:before {
    content: "\f188";
}
.icon-chevron-circle-up:before {
    content: "\f189";
}
.icon-chevron-down:before {
    content: "\f18a";
}
.icon-chevron-left:before {
    content: "\f18b";
}
.icon-chevron-right:before {
    content: "\f18c";
}
.icon-chevron-up:before {
    content: "\f18d";
}
.icon-child:before {
    content: "\f18e";
}
.icon-church:before {
    content: "\f18f";
}
.icon-circle-notch:before {
    content: "\f190";
}
.icon-circle:before {
    content: "\f191";
}
.icon-clipboard-check:before {
    content: "\f192";
}
.icon-clipboard-list:before {
    content: "\f193";
}
.icon-clipboard:before {
    content: "\f194";
}
.icon-clock:before {
    content: "\f195";
}
.icon-clone:before {
    content: "\f196";
}
.icon-closed-captioning:before {
    content: "\f197";
}
.icon-cloud-download-alt:before {
    content: "\f198";
}
.icon-cloud:before {
    content: "\f199";
}
.icon-cloud-upload-alt:before {
    content: "\f19a";
}
.icon-cocktail:before {
    content: "\f19b";
}
.icon-code-branch:before {
    content: "\f19c";
}
.icon-code:before {
    content: "\f19d";
}
.icon-coffee:before {
    content: "\f19e";
}
.icon-cogs:before {
    content: "\f19f";
}
.icon-cog:before {
    content: "\f1a0";
}
.icon-coins:before {
    content: "\f1a1";
}
.icon-columns:before {
    content: "\f1a2";
}
.icon-comment-alt:before {
    content: "\f1a3";
}
.icon-comment-dots:before {
    content: "\f1a4";
}
.icon-comment-slash:before {
    content: "\f1a5";
}
.icon-comments:before {
    content: "\f1a6";
}
.icon-comment:before {
    content: "\f1a7";
}
.icon-compact-disc:before {
    content: "\f1a8";
}
.icon-compass:before {
    content: "\f1a9";
}
.icon-compress:before {
    content: "\f1aa";
}
.icon-concierge-bell:before {
    content: "\f1ab";
}
.icon-cookie-bite:before {
    content: "\f1ac";
}
.icon-cookie:before {
    content: "\f1ad";
}
.icon-copyright:before {
    content: "\f1ae";
}
.icon-copy:before {
    content: "\f1af";
}
.icon-couch:before {
    content: "\f1b0";
}
.icon-credit-card:before {
    content: "\f1b1";
}
.icon-crop-alt:before {
    content: "\f1b2";
}
.icon-crop:before {
    content: "\f1b3";
}
.icon-crosshairs:before {
    content: "\f1b4";
}
.icon-crown:before {
    content: "\f1b5";
}
.icon-crow:before {
    content: "\f1b6";
}
.icon-cubes:before {
    content: "\f1b7";
}
.icon-cube:before {
    content: "\f1b8";
}
.icon-cut:before {
    content: "\f1b9";
}
.icon-database:before {
    content: "\f1ba";
}
.icon-deaf:before {
    content: "\f1bb";
}
.icon-desktop:before {
    content: "\f1bc";
}
.icon-diagnoses:before {
    content: "\f1bd";
}
.icon-dice-five:before {
    content: "\f1be";
}
.icon-dice-four:before {
    content: "\f1bf";
}
.icon-dice-one:before {
    content: "\f1c0";
}
.icon-dice-six:before {
    content: "\f1c1";
}
.icon-dice:before {
    content: "\f1c2";
}
.icon-dice-three:before {
    content: "\f1c3";
}
.icon-dice-two:before {
    content: "\f1c4";
}
.icon-digital-tachograph:before {
    content: "\f1c5";
}
.icon-divide:before {
    content: "\f1c6";
}
.icon-dizzy:before {
    content: "\f1c7";
}
.icon-dna:before {
    content: "\f1c8";
}
.icon-dollar-sign:before {
    content: "\f1c9";
}
.icon-dolly-flatbed:before {
    content: "\f1ca";
}
.icon-dolly:before {
    content: "\f1cb";
}
.icon-donate:before {
    content: "\f1cc";
}
.icon-door-closed:before {
    content: "\f1cd";
}
.icon-door-open:before {
    content: "\f1ce";
}
.icon-dot-circle:before {
    content: "\f1cf";
}
.icon-dove:before {
    content: "\f1d0";
}
.icon-download:before {
    content: "\f1d1";
}
.icon-drafting-compass:before {
    content: "\f1d2";
}
.icon-drum-steelpan:before {
    content: "\f1d3";
}
.icon-drum:before {
    content: "\f1d4";
}
.icon-dumbbell:before {
    content: "\f1d5";
}
.icon-edit:before {
    content: "\f1d6";
}
.icon-eject:before {
    content: "\f1d7";
}
.icon-ellipsis-h:before {
    content: "\f1d8";
}
.icon-ellipsis-v:before {
    content: "\f1d9";
}
.icon-envelope-open:before {
    content: "\f1da";
}
.icon-envelope-square:before {
    content: "\f1db";
}
.icon-envelope:before {
    content: "\f1dc";
}
.icon-equals:before {
    content: "\f1dd";
}
.icon-eraser:before {
    content: "\f1de";
}
.icon-euro-sign:before {
    content: "\f1df";
}
.icon-exchange-alt:before {
    content: "\f1e0";
}
.icon-exclamation-circle:before {
    content: "\f1e1";
}
.icon-exclamation:before {
    content: "\f1e2";
}
.icon-exclamation-triangle:before {
    content: "\f1e3";
}
.icon-expand-arrows-alt:before {
    content: "\f1e4";
}
.icon-expand:before {
    content: "\f1e5";
}
.icon-external-link-alt:before {
    content: "\f1e6";
}
.icon-external-link-square-alt:before {
    content: "\f1e7";
}
.icon-eye-dropper:before {
    content: "\f1e8";
}
.icon-eye-slash:before {
    content: "\f1e9";
}
.icon-eye:before {
    content: "\f1ea";
}
.icon-fast-backward:before {
    content: "\f1eb";
}
.icon-fast-forward:before {
    content: "\f1ec";
}
.icon-fax:before {
    content: "\f1ed";
}
.icon-feather-alt:before {
    content: "\f1ee";
}
.icon-feather:before {
    content: "\f1ef";
}
.icon-female:before {
    content: "\f1f0";
}
.icon-fighter-jet:before {
    content: "\f1f1";
}
.icon-file-alt:before {
    content: "\f1f2";
}
.icon-file-archive:before {
    content: "\f1f3";
}
.icon-file-audio:before {
    content: "\f1f4";
}
.icon-file-code:before {
    content: "\f1f5";
}
.icon-file-contract:before {
    content: "\f1f6";
}
.icon-file-download:before {
    content: "\f1f7";
}
.icon-file-excel:before {
    content: "\f1f8";
}
.icon-file-export:before {
    content: "\f1f9";
}
.icon-file-image:before {
    content: "\f1fa";
}
.icon-file-import:before {
    content: "\f1fb";
}
.icon-file-invoice-dollar:before {
    content: "\f1fc";
}
.icon-file-invoice:before {
    content: "\f1fd";
}
.icon-file-medical-alt:before {
    content: "\f1fe";
}
.icon-file-medical:before {
    content: "\f1ff";
}
.icon-file-pdf:before {
    content: "\f200";
}
.icon-file-powerpoint:before {
    content: "\f201";
}
.icon-file-prescription:before {
    content: "\f202";
}
.icon-file-signature:before {
    content: "\f203";
}
.icon-file:before {
    content: "\f204";
}
.icon-file-upload:before {
    content: "\f205";
}
.icon-file-video:before {
    content: "\f206";
}
.icon-file-word:before {
    content: "\f207";
}
.icon-fill-drip:before {
    content: "\f208";
}
.icon-fill:before {
    content: "\f209";
}
.icon-film:before {
    content: "\f20a";
}
.icon-filter:before {
    content: "\f20b";
}
.icon-fingerprint:before {
    content: "\f20c";
}
.icon-fire-extinguisher:before {
    content: "\f20d";
}
.icon-fire:before {
    content: "\f20e";
}
.icon-first-aid:before {
    content: "\f20f";
}
.icon-fish:before {
    content: "\f210";
}
.icon-flag-checkered:before {
    content: "\f211";
}
.icon-flag:before {
    content: "\f212";
}
.icon-flask:before {
    content: "\f213";
}
.icon-flushed:before {
    content: "\f214";
}
.icon-folder-open:before {
    content: "\f215";
}
.icon-folder:before {
    content: "\f216";
}
.icon-font-awesome-logo-full:before {
    content: "\f217";
}
.icon-font:before {
    content: "\f218";
}
.icon-football-ball:before {
    content: "\f219";
}
.icon-forward:before {
    content: "\f21a";
}
.icon-frog:before {
    content: "\f21b";
}
.icon-frown-open:before {
    content: "\f21c";
}
.icon-frown:before {
    content: "\f21d";
}
.icon-futbol:before {
    content: "\f21e";
}
.icon-gamepad:before {
    content: "\f21f";
}
.icon-gas-pump:before {
    content: "\f220";
}
.icon-gavel:before {
    content: "\f221";
}
.icon-gem:before {
    content: "\f222";
}
.icon-genderless:before {
    content: "\f223";
}
.icon-gift:before {
    content: "\f224";
}
.icon-glasses:before {
    content: "\f225";
}
.icon-glass-martini-alt:before {
    content: "\f226";
}
.icon-glass-martini:before {
    content: "\f227";
}
.icon-globe-africa:before {
    content: "\f228";
}
.icon-globe-americas:before {
    content: "\f229";
}
.icon-globe-asia:before {
    content: "\f22a";
}
.icon-globe:before {
    content: "\f22b";
}
.icon-golf-ball:before {
    content: "\f22c";
}
.icon-graduation-cap:before {
    content: "\f22d";
}
.icon-greater-than-equal:before {
    content: "\f22e";
}
.icon-greater-than:before {
    content: "\f22f";
}
.icon-grimace:before {
    content: "\f230";
}
.icon-grin-alt:before {
    content: "\f231";
}
.icon-grin-beam:before {
    content: "\f232";
}
.icon-grin-beam-sweat:before {
    content: "\f233";
}
.icon-grin-hearts:before {
    content: "\f234";
}
.icon-grin-squint:before {
    content: "\f235";
}
.icon-grin-squint-tears:before {
    content: "\f236";
}
.icon-grin-stars:before {
    content: "\f237";
}
.icon-grin:before {
    content: "\f238";
}
.icon-grin-tears:before {
    content: "\f239";
}
.icon-grin-tongue-squint:before {
    content: "\f23a";
}
.icon-grin-tongue:before {
    content: "\f23b";
}
.icon-grin-tongue-wink:before {
    content: "\f23c";
}
.icon-grin-wink:before {
    content: "\f23d";
}
.icon-grip-horizontal:before {
    content: "\f23e";
}
.icon-grip-vertical:before {
    content: "\f23f";
}
.icon-hand-holding-heart:before {
    content: "\f240";
}
.icon-hand-holding:before {
    content: "\f241";
}
.icon-hand-holding-usd:before {
    content: "\f242";
}
.icon-hand-lizard:before {
    content: "\f243";
}
.icon-hand-paper:before {
    content: "\f244";
}
.icon-hand-peace:before {
    content: "\f245";
}
.icon-hand-point-down:before {
    content: "\f246";
}
.icon-hand-pointer:before {
    content: "\f247";
}
.icon-hand-point-left:before {
    content: "\f248";
}
.icon-hand-point-right:before {
    content: "\f249";
}
.icon-hand-point-up:before {
    content: "\f24a";
}
.icon-hand-rock:before {
    content: "\f24b";
}
.icon-hand-scissors:before {
    content: "\f24c";
}
.icon-handshake:before {
    content: "\f24d";
}
.icon-hands-helping:before {
    content: "\f24e";
}
.icon-hand-spock:before {
    content: "\f24f";
}
.icon-hands:before {
    content: "\f250";
}
.icon-hashtag:before {
    content: "\f251";
}
.icon-hdd:before {
    content: "\f252";
}
.icon-heading:before {
    content: "\f253";
}
.icon-headphones-alt:before {
    content: "\f254";
}
.icon-headphones:before {
    content: "\f255";
}
.icon-headset:before {
    content: "\f256";
}
.icon-heartbeat:before {
    content: "\f257";
}
.icon-heart:before {
    content: "\f258";
}
.icon-helicopter:before {
    content: "\f259";
}
.icon-highlighter:before {
    content: "\f25a";
}
.icon-history:before {
    content: "\f25b";
}
.icon-hockey-puck:before {
    content: "\f25c";
}
.icon-home:before {
    content: "\f25d";
}
.icon-hospital-alt:before {
    content: "\f25e";
}
.icon-hospital:before {
    content: "\f25f";
}
.icon-hospital-symbol:before {
    content: "\f260";
}
.icon-hotel:before {
    content: "\f261";
}
.icon-hot-tub:before {
    content: "\f262";
}
.icon-hourglass-end:before {
    content: "\f263";
}
.icon-hourglass-half:before {
    content: "\f264";
}
.icon-hourglass-start:before {
    content: "\f265";
}
.icon-hourglass:before {
    content: "\f266";
}
.icon-h-square:before {
    content: "\f267";
}
.icon-i-cursor:before {
    content: "\f268";
}
.icon-id-badge:before {
    content: "\f269";
}
.icon-id-card-alt:before {
    content: "\f26a";
}
.icon-id-card:before {
    content: "\f26b";
}
.icon-images:before {
    content: "\f26c";
}
.icon-image:before {
    content: "\f26d";
}
.icon-inbox:before {
    content: "\f26e";
}
.icon-indent:before {
    content: "\f26f";
}
.icon-industry:before {
    content: "\f270";
}
.icon-infinity:before {
    content: "\f271";
}
.icon-info-circle:before {
    content: "\f272";
}
.icon-info:before {
    content: "\f273";
}
.icon-italic:before {
    content: "\f274";
}
.icon-joint:before {
    content: "\f275";
}
.icon-keyboard:before {
    content: "\f276";
}
.icon-key:before {
    content: "\f277";
}
.icon-kiss-beam:before {
    content: "\f278";
}
.icon-kiss:before {
    content: "\f279";
}
.icon-kiss-wink-heart:before {
    content: "\f27a";
}
.icon-kiwi-bird:before {
    content: "\f27b";
}
.icon-language:before {
    content: "\f27c";
}
.icon-laptop:before {
    content: "\f27d";
}
.icon-laugh-beam:before {
    content: "\f27e";
}
.icon-laugh-squint:before {
    content: "\f27f";
}
.icon-laugh:before {
    content: "\f280";
}
.icon-laugh-wink:before {
    content: "\f281";
}
.icon-leaf:before {
    content: "\f282";
}
.icon-lemon:before {
    content: "\f283";
}
.icon-less-than-equal:before {
    content: "\f284";
}
.icon-less-than:before {
    content: "\f285";
}
.icon-level-down-alt:before {
    content: "\f286";
}
.icon-level-up-alt:before {
    content: "\f287";
}
.icon-life-ring:before {
    content: "\f288";
}
.icon-lightbulb:before {
    content: "\f289";
}
.icon-link:before {
    content: "\f28a";
}
.icon-lira-sign:before {
    content: "\f28b";
}
.icon-list-alt:before {
    content: "\f28c";
}
.icon-list-ol:before {
    content: "\f28d";
}
.icon-list:before {
    content: "\f28e";
}
.icon-list-ul:before {
    content: "\f28f";
}
.icon-location-arrow:before {
    content: "\f290";
}
.icon-lock-open:before {
    content: "\f291";
}
.icon-lock:before {
    content: "\f292";
}
.icon-long-arrow-alt-down:before {
    content: "\f293";
}
.icon-long-arrow-alt-left:before {
    content: "\f294";
}
.icon-long-arrow-alt-right:before {
    content: "\f295";
}
.icon-long-arrow-alt-up:before {
    content: "\f296";
}
.icon-low-vision:before {
    content: "\f297";
}
.icon-luggage-cart:before {
    content: "\f298";
}
.icon-magic:before {
    content: "\f299";
}
.icon-magnet:before {
    content: "\f29a";
}
.icon-male:before {
    content: "\f29b";
}
.icon-map-marked-alt:before {
    content: "\f29c";
}
.icon-map-marked:before {
    content: "\f29d";
}
.icon-map-marker-alt:before {
    content: "\f29e";
}
.icon-map-marker:before {
    content: "\f29f";
}
.icon-map-pin:before {
    content: "\f2a0";
}
.icon-map-signs:before {
    content: "\f2a1";
}
.icon-map:before {
    content: "\f2a2";
}
.icon-marker:before {
    content: "\f2a3";
}
.icon-mars-double:before {
    content: "\f2a4";
}
.icon-mars-stroke-h:before {
    content: "\f2a5";
}
.icon-mars-stroke:before {
    content: "\f2a6";
}
.icon-mars-stroke-v:before {
    content: "\f2a7";
}
.icon-mars:before {
    content: "\f2a8";
}
.icon-medal:before {
    content: "\f2a9";
}
.icon-medkit:before {
    content: "\f2aa";
}
.icon-meh-blank:before {
    content: "\f2ab";
}
.icon-meh-rolling-eyes:before {
    content: "\f2ac";
}
.icon-meh:before {
    content: "\f2ad";
}
.icon-memory:before {
    content: "\f2ae";
}
.icon-mercury:before {
    content: "\f2af";
}
.icon-microchip:before {
    content: "\f2b0";
}
.icon-microphone-alt-slash:before {
    content: "\f2b1";
}
.icon-microphone-alt:before {
    content: "\f2b2";
}
.icon-microphone-slash:before {
    content: "\f2b3";
}
.icon-microphone:before {
    content: "\f2b4";
}
.icon-minus-circle:before {
    content: "\f2b5";
}
.icon-minus-square:before {
    content: "\f2b6";
}
.icon-minus:before {
    content: "\f2b7";
}
.icon-mobile-alt:before {
    content: "\f2b8";
}
.icon-mobile:before {
    content: "\f2b9";
}
.icon-money-bill-alt:before {
    content: "\f2ba";
}
.icon-money-bill:before {
    content: "\f2bb";
}
.icon-money-bill-wave-alt:before {
    content: "\f2bc";
}
.icon-money-bill-wave:before {
    content: "\f2bd";
}
.icon-money-check-alt:before {
    content: "\f2be";
}
.icon-money-check:before {
    content: "\f2bf";
}
.icon-monument:before {
    content: "\f2c0";
}
.icon-moon:before {
    content: "\f2c1";
}
.icon-mortar-pestle:before {
    content: "\f2c2";
}
.icon-motorcycle:before {
    content: "\f2c3";
}
.icon-mouse-pointer:before {
    content: "\f2c4";
}
.icon-music:before {
    content: "\f2c5";
}
.icon-neuter:before {
    content: "\f2c6";
}
.icon-newspaper:before {
    content: "\f2c7";
}
.icon-not-equal:before {
    content: "\f2c8";
}
.icon-notes-medical:before {
    content: "\f2c9";
}
.icon-object-group:before {
    content: "\f2ca";
}
.icon-object-ungroup:before {
    content: "\f2cb";
}
.icon-outdent:before {
    content: "\f2cc";
}
.icon-paint-brush:before {
    content: "\f2cd";
}
.icon-paint-roller:before {
    content: "\f2ce";
}
.icon-palette:before {
    content: "\f2cf";
}
.icon-pallet:before {
    content: "\f2d0";
}
.icon-paperclip:before {
    content: "\f2d1";
}
.icon-paper-plane:before {
    content: "\f2d2";
}
.icon-parachute-box:before {
    content: "\f2d3";
}
.icon-paragraph:before {
    content: "\f2d4";
}
.icon-parking:before {
    content: "\f2d5";
}
.icon-passport:before {
    content: "\f2d6";
}
.icon-paste:before {
    content: "\f2d7";
}
.icon-pause-circle:before {
    content: "\f2d8";
}
.icon-pause:before {
    content: "\f2d9";
}
.icon-paw:before {
    content: "\f2da";
}
.icon-pen-alt:before {
    content: "\f2db";
}
.icon-pencil-alt:before {
    content: "\f2dc";
}
.icon-pencil-ruler:before {
    content: "\f2dd";
}
.icon-pen-fancy:before {
    content: "\f2de";
}
.icon-pen-nib:before {
    content: "\f2df";
}
.icon-pen-square:before {
    content: "\f2e0";
}
.icon-pen:before {
    content: "\f2e1";
}
.icon-people-carry:before {
    content: "\f2e2";
}
.icon-percentage:before {
    content: "\f2e3";
}
.icon-percent:before {
    content: "\f2e4";
}
.icon-phone-slash:before {
    content: "\f2e5";
}
.icon-phone-square:before {
    content: "\f2e6";
}
.icon-phone:before {
    content: "\f2e7";
}
.icon-phone-volume:before {
    content: "\f2e8";
}
.icon-piggy-bank:before {
    content: "\f2e9";
}
.icon-pills:before {
    content: "\f2ea";
}
.icon-plane-arrival:before {
    content: "\f2eb";
}
.icon-plane-departure:before {
    content: "\f2ec";
}
.icon-plane:before {
    content: "\f2ed";
}
.icon-play-circle:before {
    content: "\f2ee";
}
.icon-play:before {
    content: "\f2ef";
}
.icon-plug:before {
    content: "\f2f0";
}
.icon-plus-circle:before {
    content: "\f2f1";
}
.icon-plus-square:before {
    content: "\f2f2";
}
.icon-plus:before {
    content: "\f2f3";
}
.icon-podcast:before {
    content: "\f2f4";
}
.icon-poo:before {
    content: "\f2f5";
}
.icon-portrait:before {
    content: "\f2f6";
}
.icon-pound-sign:before {
    content: "\f2f7";
}
.icon-power-off:before {
    content: "\f2f8";
}
.icon-prescription-bottle-alt:before {
    content: "\f2f9";
}
.icon-prescription-bottle:before {
    content: "\f2fa";
}
.icon-prescription:before {
    content: "\f2fb";
}
.icon-print:before {
    content: "\f2fc";
}
.icon-procedures:before {
    content: "\f2fd";
}
.icon-project-diagram:before {
    content: "\f2fe";
}
.icon-puzzle-piece:before {
    content: "\f2ff";
}
.icon-qrcode:before {
    content: "\f300";
}
.icon-question-circle:before {
    content: "\f301";
}
.icon-question:before {
    content: "\f302";
}
.icon-quidditch:before {
    content: "\f303";
}
.icon-quote-left:before {
    content: "\f304";
}
.icon-quote-right:before {
    content: "\f305";
}
.icon-random:before {
    content: "\f306";
}
.icon-receipt:before {
    content: "\f307";
}
.icon-recycle:before {
    content: "\f308";
}
.icon-redo-alt:before {
    content: "\f309";
}
.icon-redo:before {
    content: "\f30a";
}
.icon-registered:before {
    content: "\f30b";
}
.icon-reply-all:before {
    content: "\f30c";
}
.icon-reply:before {
    content: "\f30d";
}
.icon-retweet:before {
    content: "\f30e";
}
.icon-ribbon:before {
    content: "\f30f";
}
.icon-road:before {
    content: "\f310";
}
.icon-robot:before {
    content: "\f311";
}
.icon-rocket:before {
    content: "\f312";
}
.icon-rss-square:before {
    content: "\f313";
}
.icon-rss:before {
    content: "\f314";
}
.icon-ruble-sign:before {
    content: "\f315";
}
.icon-ruler-combined:before {
    content: "\f316";
}
.icon-ruler-horizontal:before {
    content: "\f317";
}
.icon-ruler:before {
    content: "\f318";
}
.icon-ruler-vertical:before {
    content: "\f319";
}
.icon-rupee-sign:before {
    content: "\f31a";
}
.icon-sad-cry:before {
    content: "\f31b";
}
.icon-sad-tear:before {
    content: "\f31c";
}
.icon-save:before {
    content: "\f31d";
}
.icon-school:before {
    content: "\f31e";
}
.icon-screwdriver:before {
    content: "\f31f";
}
.icon-search-minus:before {
    content: "\f320";
}
.icon-search-plus:before {
    content: "\f321";
}
.icon-search:before {
    content: "\f322";
}
.icon-seedling:before {
    content: "\f323";
}
.icon-server:before {
    content: "\f324";
}
.icon-share-alt-square:before {
    content: "\f325";
}
.icon-share-alt:before {
    content: "\f326";
}
.icon-share-square:before {
    content: "\f327";
}
.icon-share:before {
    content: "\f328";
}
.icon-shekel-sign:before {
    content: "\f329";
}
.icon-shield-alt:before {
    content: "\f32a";
}
.icon-shipping-fast:before {
    content: "\f32b";
}
.icon-ship:before {
    content: "\f32c";
}
.icon-shoe-prints:before {
    content: "\f32d";
}
.icon-shopping-bag:before {
    content: "\f32e";
}
.icon-shopping-basket:before {
    content: "\f32f";
}
.icon-shopping-cart:before {
    content: "\f330";
}
.icon-shower:before {
    content: "\f331";
}
.icon-shuttle-van:before {
    content: "\f332";
}
.icon-signal:before {
    content: "\f333";
}
.icon-signature:before {
    content: "\f334";
}
.icon-sign-in-alt:before {
    content: "\f335";
}
.icon-sign-language:before {
    content: "\f336";
}
.icon-sign-out-alt:before {
    content: "\f337";
}
.icon-sign:before {
    content: "\f338";
}
.icon-sitemap:before {
    content: "\f339";
}
.icon-skull:before {
    content: "\f33a";
}
.icon-sliders-h:before {
    content: "\f33b";
}
.icon-smile-beam:before {
    content: "\f33c";
}
.icon-smile:before {
    content: "\f33d";
}
.icon-smile-wink:before {
    content: "\f33e";
}
.icon-smoking-ban:before {
    content: "\f33f";
}
.icon-smoking:before {
    content: "\f340";
}
.icon-snowflake:before {
    content: "\f341";
}
.icon-solar-panel:before {
    content: "\f342";
}
.icon-sort-alpha-down:before {
    content: "\f343";
}
.icon-sort-alpha-up:before {
    content: "\f344";
}
.icon-sort-amount-down:before {
    content: "\f345";
}
.icon-sort-amount-up:before {
    content: "\f346";
}
.icon-sort-down:before {
    content: "\f347";
}
.icon-sort-numeric-down:before {
    content: "\f348";
}
.icon-sort-numeric-up:before {
    content: "\f349";
}
.icon-sort:before {
    content: "\f34a";
}
.icon-sort-up:before {
    content: "\f34b";
}
.icon-space-shuttle:before {
    content: "\f34c";
}
.icon-spa:before {
    content: "\f34d";
}
.icon-spinner:before {
    content: "\f34e";
}
.icon-splotch:before {
    content: "\f34f";
}
.icon-spray-can:before {
    content: "\f350";
}
.icon-square-full:before {
    content: "\f351";
}
.icon-square:before {
    content: "\f352";
}
.icon-stamp:before {
    content: "\f353";
}
.icon-star-half-alt:before {
    content: "\f354";
}
.icon-star-half:before {
    content: "\f355";
}
.icon-star:before {
    content: "\f356";
}
.icon-step-backward:before {
    content: "\f357";
}
.icon-step-forward:before {
    content: "\f358";
}
.icon-stethoscope:before {
    content: "\f359";
}
.icon-sticky-note:before {
    content: "\f35a";
}
.icon-stop-circle:before {
    content: "\f35b";
}
.icon-stop:before {
    content: "\f35c";
}
.icon-stopwatch:before {
    content: "\f35d";
}
.icon-store-alt:before {
    content: "\f35e";
}
.icon-store:before {
    content: "\f35f";
}
.icon-stream:before {
    content: "\f360";
}
.icon-street-view:before {
    content: "\f361";
}
.icon-strikethrough:before {
    content: "\f362";
}
.icon-stroopwafel:before {
    content: "\f363";
}
.icon-subscript:before {
    content: "\f364";
}
.icon-subway:before {
    content: "\f365";
}
.icon-suitcase-rolling:before {
    content: "\f366";
}
.icon-suitcase:before {
    content: "\f367";
}
.icon-sun:before {
    content: "\f368";
}
.icon-superscript:before {
    content: "\f369";
}
.icon-surprise:before {
    content: "\f36a";
}
.icon-swatchbook:before {
    content: "\f36b";
}
.icon-swimmer:before {
    content: "\f36c";
}
.icon-swimming-pool:before {
    content: "\f36d";
}
.icon-sync-alt:before {
    content: "\f36e";
}
.icon-sync:before {
    content: "\f36f";
}
.icon-syringe:before {
    content: "\f370";
}
.icon-table:before {
    content: "\f371";
}
.icon-tablet-alt:before {
    content: "\f372";
}
.icon-table-tennis:before {
    content: "\f373";
}
.icon-tablets:before {
    content: "\f374";
}
.icon-tablet:before {
    content: "\f375";
}
.icon-tachometer-alt:before {
    content: "\f376";
}
.icon-tags:before {
    content: "\f377";
}
.icon-tag:before {
    content: "\f378";
}
.icon-tape:before {
    content: "\f379";
}
.icon-tasks:before {
    content: "\f37a";
}
.icon-taxi:before {
    content: "\f37b";
}
.icon-terminal:before {
    content: "\f37c";
}
.icon-text-height:before {
    content: "\f37d";
}
.icon-text-width:before {
    content: "\f37e";
}
.icon-thermometer-empty:before {
    content: "\f37f";
}
.icon-thermometer-full:before {
    content: "\f380";
}
.icon-thermometer-half:before {
    content: "\f381";
}
.icon-thermometer-quarter:before {
    content: "\f382";
}
.icon-thermometer:before {
    content: "\f383";
}
.icon-thermometer-three-quarters:before {
    content: "\f384";
}
.icon-th-large:before {
    content: "\f385";
}
.icon-th-list:before {
    content: "\f386";
}
.icon-th:before {
    content: "\f387";
}
.icon-thumbs-down:before {
    content: "\f388";
}
.icon-thumbs-up:before {
    content: "\f389";
}
.icon-thumbtack:before {
    content: "\f38a";
}
.icon-ticket-alt:before {
    content: "\f38b";
}
.icon-times-circle:before {
    content: "\f38c";
}
.icon-times:before {
    content: "\f38d";
}
.icon-tint-slash:before {
    content: "\f38e";
}
.icon-tint:before {
    content: "\f38f";
}
.icon-tired:before {
    content: "\f390";
}
.icon-toggle-off:before {
    content: "\f391";
}
.icon-toggle-on:before {
    content: "\f392";
}
.icon-toolbox:before {
    content: "\f393";
}
.icon-tooth:before {
    content: "\f394";
}
.icon-trademark:before {
    content: "\f395";
}
.icon-train:before {
    content: "\f396";
}
.icon-transgender-alt:before {
    content: "\f397";
}
.icon-transgender:before {
    content: "\f398";
}
.icon-trash-alt:before {
    content: "\f399";
}
.icon-trash:before {
    content: "\f39a";
}
.icon-tree:before {
    content: "\f39b";
}
.icon-trophy:before {
    content: "\f39c";
}
.icon-truck-loading:before {
    content: "\f39d";
}
.icon-truck-moving:before {
    content: "\f39e";
}
.icon-truck:before {
    content: "\f39f";
}
.icon-tshirt:before {
    content: "\f3a0";
}
.icon-tty:before {
    content: "\f3a1";
}
.icon-tv:before {
    content: "\f3a2";
}
.icon-umbrella-beach:before {
    content: "\f3a3";
}
.icon-umbrella:before {
    content: "\f3a4";
}
.icon-underline:before {
    content: "\f3a5";
}
.icon-undo-alt:before {
    content: "\f3a6";
}
.icon-undo:before {
    content: "\f3a7";
}
.icon-universal-access:before {
    content: "\f3a8";
}
.icon-university:before {
    content: "\f3a9";
}
.icon-unlink:before {
    content: "\f3aa";
}
.icon-unlock-alt:before {
    content: "\f3ab";
}
.icon-unlock:before {
    content: "\f3ac";
}
.icon-upload:before {
    content: "\f3ad";
}
.icon-user-alt-slash:before {
    content: "\f3ae";
}
.icon-user-alt:before {
    content: "\f3af";
}
.icon-user-astronaut:before {
    content: "\f3b0";
}
.icon-user-check:before {
    content: "\f3b1";
}
.icon-user-circle:before {
    content: "\f3b2";
}
.icon-user-clock:before {
    content: "\f3b3";
}
.icon-user-cog:before {
    content: "\f3b4";
}
.icon-user-edit:before {
    content: "\f3b5";
}
.icon-user-friends:before {
    content: "\f3b6";
}
.icon-user-graduate:before {
    content: "\f3b7";
}
.icon-user-lock:before {
    content: "\f3b8";
}
.icon-user-md:before {
    content: "\f3b9";
}
.icon-user-minus:before {
    content: "\f3ba";
}
.icon-user-ninja:before {
    content: "\f3bb";
}
.icon-user-plus:before {
    content: "\f3bc";
}
.icon-users-cog:before {
    content: "\f3bd";
}
.icon-user-secret:before {
    content: "\f3be";
}
.icon-user-shield:before {
    content: "\f3bf";
}
.icon-user-slash:before {
    content: "\f3c0";
}
.icon-users:before {
    content: "\f3c1";
}
.icon-user:before {
    content: "\f3c2";
}
.icon-user-tag:before {
    content: "\f3c3";
}
.icon-user-tie:before {
    content: "\f3c4";
}
.icon-user-times:before {
    content: "\f3c5";
}
.icon-utensil-spoon:before {
    content: "\f3c6";
}
.icon-utensils:before {
    content: "\f3c7";
}
.icon-vector-square:before {
    content: "\f3c8";
}
.icon-venus-double:before {
    content: "\f3c9";
}
.icon-venus-mars:before {
    content: "\f3ca";
}
.icon-venus:before {
    content: "\f3cb";
}
.icon-vials:before {
    content: "\f3cc";
}
.icon-vial:before {
    content: "\f3cd";
}
.icon-video-slash:before {
    content: "\f3ce";
}
.icon-video:before {
    content: "\f3cf";
}
.icon-volleyball-ball:before {
    content: "\f3d0";
}
.icon-volume-down:before {
    content: "\f3d1";
}
.icon-volume-off:before {
    content: "\f3d2";
}
.icon-volume-up:before {
    content: "\f3d3";
}
.icon-walking:before {
    content: "\f3d4";
}
.icon-wallet:before {
    content: "\f3d5";
}
.icon-warehouse:before {
    content: "\f3d6";
}
.icon-weight-hanging:before {
    content: "\f3d7";
}
.icon-weight:before {
    content: "\f3d8";
}
.icon-wheelchair:before {
    content: "\f3d9";
}
.icon-wifi:before {
    content: "\f3da";
}
.icon-window-close:before {
    content: "\f3db";
}
.icon-window-maximize:before {
    content: "\f3dc";
}
.icon-window-minimize:before {
    content: "\f3dd";
}
.icon-window-restore:before {
    content: "\f3de";
}
.icon-wine-glass-alt:before {
    content: "\f3df";
}
.icon-wine-glass:before {
    content: "\f3e0";
}
.icon-won-sign:before {
    content: "\f3e1";
}
.icon-wrench:before {
    content: "\f3e2";
}
.icon-x-ray:before {
    content: "\f3e3";
}
.icon-yen-sign:before {
    content: "\f3e4";
}